.Neckband-data {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2vmin;
}
.Neckband-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: blue; */
  width: 100vmin;
}
.Neckband-data hr {
  width: 40vmin;
  height: 0.5vmin;
  background-color: rgb(228, 120, 120);
  border-radius: 10px;
  margin-bottom: 2vmin;
  border: none;
}
.Neckband-data h1 {
  margin: 2vmin 6vmin;
  /* margin-left: 6vmin; */
  font-weight: 400;
  font-size: 6vmin;
}
.popular-Neckband {
  /* background-color: blue; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2vmin;
  aspect-ratio: 3/2;
  /* background: rgba(236, 236, 136, 0.267) ; */
  cursor: pointer;
  transition: 0.4s;
}
